apiVersion: batch/v1
kind: Job
metadata:
  name: cypress-run
  namespace: cypress-e2e
spec:
  completions: 20
  parallelism: 20
  template:
    spec:
      containers:
        - name: cypress
          image: registry.gitlab.com/<username>/<projectname>/cypress-tests-image:latest
          # Environment Variables für URLs
          env:
            - name: CYPRESS_baseUrl
              value: "http://localhost:3000"   # Base URL für Tests
            - name: CYPRESS_loginPath
              value: "/login"
            - name: CYPRESS_dashboardPath
              value: "/dashboard"
          command:
            - sh
            - -c
            - |
              # App im Hintergrund starten
              node app/server.js &
              # Warten bis App auf localhost:3000 bereit ist
              npx wait-on http://localhost:3000
              # Cypress headless ausführen
              npx cypress run --browser chrome --headless
      restartPolicy: Never
  backoffLimit: 1